@font-face {
    font-family: 'silkscreennormal';
    src: url('../static/slkscr/slkscr-webfont.eot');
    src: url('../static/slkscr/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/slkscr/slkscr-webfont.woff') format('woff'),
         url('../static/slkscr/slkscr-webfont.ttf') format('truetype'),
         url('../static/slkscr/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
  height: 100%;
  font-family: 'silkscreennormal';
  font-size: 12px;
  background: #fff;
  line-height: 1.5em;
}

#content {
	margin: 20% auto;
	width: 660px;
}

.avatar{
  margin-top: 3px;
}

div.brace {
  margin-top: 50px;
  float: right;
  width: 80px;
  font-size: 120px;
  font-weight: normal;
  color: #dc322f;
}

div.text-box {
  margin-top: 25px;
  float: right;
  width: 500px;
}

h2 {
  display: inline;
}
