@font-face {
    font-family: 'silkscreennormal';
    src: url('../static/slkscr/slkscr-webfont.eot');
    src: url('../static/slkscr/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/slkscr/slkscr-webfont.woff') format('woff'),
         url('../static/slkscr/slkscr-webfont.ttf') format('truetype'),
         url('../static/slkscr/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
  height: 100%;
  font-family: 'silkscreennormal';
  /*font-family: Helvetica, Arial;*/
  font-size: 12px;
  background: #fff;
  line-height: 1.5em;
}

#content {
	margin: 50px 0 0 50px;
	width: 300px;
}

h2 {
    display: inline;
}
